:root {
    --box-shadow-card-light: 0px 5px 10px 0px rgba(102, 124, 130, 0.5); 
    --box-shadow-card-bold: 0px 10px 10px 0px rgba(0, 0, 0, 0.5); 
}

@font-face {
    font-family: Titillium;
    src: url(../fonts/Titillium_Web/TitilliumWeb-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Titillium;
    src: url(../fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    background-color: #c9d9e3;
    font-family: Titillium, Arial, serif;
    font-weight: 200;
}

header {
    width: 100%;
    height: 54px;
    background-color: #bfced8;
}

.header_container {
    width: 80%;
    margin: 0 auto;
}

.logo_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin: 0 30px 0 auto;
}

main {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.preview {
    height: 95vh;
    background-image: url("../img/fone_first.png");
    background-attachment: fixed;
}

.lead_text {
    width: 80%;
    margin: 0 auto;
    padding-top: 20%;
}

h1 {
    font-size: 84px;
}

h2 {
    padding-top: 20px;
    border-bottom: 1px solid black;
    line-height: 50px;
}

h3 {
    line-height: 50px;
}

p {
    line-height: 30px;
}

.preview_portfolio {
    font-size: 24px;
    padding-top: 20px;
}

.about {
    width: 100%;
    margin: 0 auto;
    height: 820px;
    background-color: #d6dfe5;
}

.about_header {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.about_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    padding-top: 70px;
    margin: 0 auto;
}

.user_img {
    margin-top: 50px;
    box-shadow: var( --box-shadow-card-light);
    transition-duration: 0.5s;
}

.contact_list {
    line-height: 50px;
}

.knowledge {
    height: 820px;
    width: 100%;
    background-color: #cfdbe3;
}

.knowledge_header {
    width: 80%;
    margin: 0 auto;
}

.works {
    height: 820px;
    width: 100%;
    background-color: #d6dfe5;
}

.works_header {
    width: 80%;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #bfced8;
}


.footer_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    line-height: 30px;
    color:rgb(106, 104, 104);
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}


.languages_block, .works_block {
    width: 80%;
    height: 700px;
    margin: 30px auto;
}

.languages_complete {
    height: 90%;
    background-color: #ebeef1;
}

.languages_list {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}


.languages_list_item {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(232, 238, 239);
    border: 1px solid rgb(106, 104, 104);
    box-shadow: var( --box-shadow-card-light);
    transition-duration: 0.5s;
}

.item_language {
    text-align: center;
}


.works_complete{
    height: 90%;
    background-color: #ebeef1;
}

.work_list{
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.item_work {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(232, 238, 239);
    border: 1px solid rgb(106, 104, 104);
    box-shadow: var( --box-shadow-card-light);
    transition-duration: 0.5s;
}

.img_item_work {
    box-shadow: var( --box-shadow-card-light);
}

.about_item_work {
    text-align: center;
}

.href_item_work {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    background-color:aliceblue;
    border-radius: 5px;
    box-shadow: var( --box-shadow-card-light);
    color: black;
}

.href_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 25px;
    width: 115px;
}

.href {
    color: black;
}

.href_footer {
    color: rgb(106, 104, 104);
}

.href_cont {
    color: rgb(106, 104, 104);
    text-decoration: underline;
    transition-duration: 0.5s;
}

    /*hover to backround*/

.href_nav:hover {
    background-color:#ebeef1;
    border-radius: 5px;
}


    /* transition*/

.user_img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    box-shadow: var( --box-shadow-card-bold);
        
}

.languages_list_item:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    box-shadow: var( --box-shadow-card-bold);
}

.item_work:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    box-shadow: var( --box-shadow-card-bold);
}

.href_cont:hover {
    display: block;
    transform-origin: left;
    transform: scale(1.05, 1.05);
    transition-duration: 0.5s;
}

@media (max-width: 870px) {
    
    .about {
        height: 100%;
    }

    .knowledge {
        height: 100%;
    }

    .languages_block {
        height: 100%;
        margin-bottom: 0;
    }

    .languages_list {
        height: 820px;
    }

    .languages_list_item {
        height: 30%;
        width: 70%;
    }

    .works {
        height: 100%;
    }

    .works_block {
        height: 100%;
        margin-bottom: 0;
    }

    .work_list {
        height: 1020px;
    }
 
    .work_list_item {
        height: 30%;
        width: 70%;
    }

    .item_work {
        height: 100%;
        width: 100%;
    }

    .about_info {
        padding-top: 10px;
    }

    .user_img {
        margin-top: 0;
    }

    footer {
        height: 100px;
    }
    
   .footer_nav {
        display: block;
   }

    .user_img:hover {
        transform: none;
        box-shadow: var( --box-shadow-card-light);
    }

    .href_cont:hover {
        display: inline;
    }

    .languages_list_item:hover {
        transform: none;
        box-shadow: var( --box-shadow-card-light);
    }

    .item_work:hover {
        transform: none;
        box-shadow: var( --box-shadow-card-light);
    }
  } 

  @media (max-width: 414px) {

    .header_container, header {
        height: 85px;
    }

    .nav_list {
        flex-direction: column;
    }
  }