body {
    margin-top:0;
    margin-bottom: 0;
    background-color: #c9d9e3;
    font-family:Georgia, 'Times New Roman', Times, serif
}

header {
    background-color: #bfced8;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    height: 54px;
    margin-right: auto;
    margin-left: auto;
    
}

h1 {
    margin-top: 0;
    font-size: 84px;
    padding-top: 250px;
    padding-bottom: 50px;
    margin-left: 30px;
    
    margin-bottom:0;
   
}

h2 {
    margin-top: 0px;
    padding-top: 20px;
    margin-right: 30px;
    border-bottom: 1px solid black;
}

h3 {
    padding-top: 100px;
}

footer {
    background-color: #bfced8;
}

ul {
    list-style-type: none;
}

.pages{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.logo_group {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.name_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 54px;
    margin-left: 5px;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    width: 270px;
    margin-left: auto;
    margin-right: 30px;
    list-style-type: none;
}

.href_nav {
    text-decoration: none;
    color: black;
    margin: 5px;
    padding: 7px 5px;
}

.href_nav:hover {
    background-color:#ebeef1;
}

.href {
    text-decoration: none;
    color: black;
}

.href_footer {
    text-decoration: none;
    color: rgb(106, 104, 104);
}

.href_active {
    color: rgb(106, 104, 104);
}

.preview {
    height: 760px;
    background-image: url("../img/fone_first.png");
}

.preview_portfolio {
    font-size: 24px;
    margin-left: 30px;
    margin-top: 0;
}

.about {
    height: 820px;
    padding-left: 30px;
    background-color: #d6dfe5;
}

.about_info {
    display:grid;
    grid-template-columns: 400px 600px;
    padding-top: 70px;
}

.contact_list {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 0;
    line-height: 30px;
}

.knowledge {
    height: 820px;
    /*background-color: rgb(154, 219, 220);*/
    padding-left: 30px;
    background-color: #cfdbe3;
}

.languages {
    width: 1040px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebeef1;
}

.languages_list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 200px;
}

.languages_list_item {
    padding: 15px 50px;
    border: 2px solid rgb(106, 104, 104);
}

.item_language {
    padding-left: 0;
    list-style-type: none;
    line-height: 25px;
}

.works {
    height: 820px;
    /*background-color: rgb(197, 168, 217);*/
    padding-left: 30px;
    /*padding-right: 30px;*/
    background-color: #d6dfe5;
}

.works_complete{
    width: 1040px;
    height: 700px;
    margin-left: 52px;
    margin-right: auto;
    background-color: #ebeef1;
}

.work_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    padding-top: 150px;
    line-height: 30px;
}

.work_list_item {
    text-align: center;
    padding: 35px 45px;
    border: 2px solid rgb(106, 104, 104);
    margin-bottom: 50px;
}

.footer_block {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    line-height: 30px;
    color:rgb(106, 104, 104);
}
